

<nav class="container mx-auto px-6 py-3 flex justify-between items-center">
    <a href="/" class="text-xl font-bold text-gray-800">Lego Collection</a>
    <div class="flex items-center space-x-4">
        <a class="btn btn-accent<%= (page == "/lego/sets") ? 'active' : '' %>" href="/lego/sets">View Collection</a>
        <a class="btn btn-accent<%= (page == "/about") ? 'active' : '' %>" href="/about">About</a>
    </div>
</nav>

